* {
  font-family: Roboto, sans-serif, "Times New Roman", Times, serif;
}

.header {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.hero {
  background-color: #1f2937;
}

.hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
